RewriteEngine on
RewriteBase /

RewriteRule ^css$ ServeStyle.php [QSA,L]

AddType font/woff2 .woff2

<FilesMatch "\.woff2$">
Header set Cache-Control "max-age=7257600"
Header set Access-Control-Allow-Origin "*"
</FilesMatch>
